<!DOCTYPE html>
<html>
<head>
    <title>{% var title %} :: {% page %}</title>
</head>
<body>
    {% include nav.html %}
    {% content %}
    Welcome {% username %} to {% page %}
    Some content
</body>
</html>